body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #101085;
}

.App {
    background: #151577;
    margin: 200px auto;
    width: 90%;
    max-width: 700px;
    color: #eee;

}

.navbar {
    padding: 10px 20px;
    text-align: center;
    background: #073763;
}

.navbar h1 {
    margin: 10px 0;
}

.navbar p {
    font-size: 1.2rem;
}

.book-list {
    padding: 0;
    list-style-type: none;
}

.book-list li {
    background: #0a2d4e;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    margin: 10px 0;
}

.book-list ul {
    padding: 0;
    list-style-type: none;
}

.book-list li:hover {
    opacity: 0.7;
    text-decoration: line-through;
}

.book-list .title {
    font-weight: bold;
    color: #fff;
    font-size: 1.2em;
}

.book-list .author {
    font-size: 0.9em;
    color: #ddd;
}

.empty {
    margin: 20px;
    text-align: center;
    font-size: 1.2rem;
}

form {
    padding: 20px;
}

input[type='text'] {
    width: 100%;
    box-sizing: border-box;
    margin: 6px 0;
    background: #0a2d4e;
    color: #fff;
    border: 0;
    height: 50px;
    font-size: 25px;
}

input[type='submit'] {
    margin: 30px auto;
    border: 0;
    display: block;
    height: 60px;
    align-items: center;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 19px 24px;
    text-decoration: none;
    cursor: pointer;
}
